@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap' ) ;

* {
  font-family: 'Righteous', cursive;
}

body {
  background: rgb(246, 239, 247);
}

header {
  background: rgb(242, 189, 244);
  background: linear-gradient(90deg, rgba(242, 189, 244, 1) 0%, rgba(250, 239, 174, 1) 50%, rgba(0,196,204,1) 100%);
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
}

#player-container {
  display: flex;
  margin-left: 30px;
}

#player-container h2 {
  align-self: center;
  font-size: 30px;
  margin-left: 8px;
}

header h2:nth-child( 3 ) {
  align-self: center;
  margin-right: 30px;
}

.logo {
  padding: 10px;
  width: 20%;
}


#img-avatar {
  align-self: center;
  border-radius: 20px;
  height: 75px;
  padding: 5px;
  width: 75px;
}

#container {
  background-color: rgb(218, 228, 228);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}

.gamepage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#timer {
  align-self: center;
  margin-right: 27px;
  color: #3f5252;
}

#question {
  align-self: center;
  font-size: 25px;
  width: 60%;
  color: #4c505e;
  border: solid 1px black;
  background-color: #fdf5c4;
  border-radius: 20px;
  padding: 8px;
}

#question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cat{
  color: #3c4152;
}

#answers {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

#answers button {
  border-radius: 20px;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  width: 50%;
}

#next {
  align-self: center;
  background-color: #cdd6ff;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 25px;
  width: 5%;
}

#next:hover {
  box-shadow: inset 0px 0px 5px #7e839b;
  cursor: pointer;
}
#answers button:hover {
  box-shadow: inset 0px 0px 5px #7e839b;
  cursor: pointer;
}
